* {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  word-spacing: -2px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #1f2937;
}

#logo-text {
  font-size: 24px;
  font-weight: 900;
}

#logo-text,
#header-links,
#one {
  color: #f9faf8;
}

#header-links {
  display: flex;
  gap: 24px;
}

#one {
  background-color: #1f2937;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

#hero-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#hero-bold {
  font-size: 48px;
  font-weight: 900;
  word-spacing: -12px;
}

#sign-up-btn {
  color: white;
  background-color: #3882f6;
  padding: 6px 20px;
  border-radius: 4px;
  font-weight: 900;
  align-self: baseline;
}

#img-placeholder {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 100px;
}

#two {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 80px;
}

#info-header {
  font-size: 36px;
  font-weight: 900;
  word-spacing: -12px;
  padding: 40px 0;
}

#identical-group {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.identical-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0;
}

.empty-div {
  border: 2px solid blue;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

#three {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 100px 300px;
}

#quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
}

#thor {
  font-weight: bold;
  align-self: flex-end;
}

#blue-div {
  width: 70%;
  margin: 100px auto;
  padding: 50px;
  background-color: #3882f6;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#action-heading {
  font-weight: 900;
  font-size: 18px;
}

#bottom-btn {
  border: 2px solid white;
  padding: 6px 18px;
  border-radius: 8px;
  font-weight: 900;
}

footer {
  text-align: center;
  background-color: #1f2937;
  color: white;
  padding: 20px;
}
